__pycache__
utils/__pycache__
utils/yolov5/runs/*

data/*
!data/jetson-train.mp4

models/*
!models/cluster_jetson-train.pkl
!models/FFT_List_jetson-train.npy
!models/q_table_mask_YOLO_jetson.npy
!models/q_table_unmask_YOLO_jetson.npy
!models/yolov5s6.pt
!models/test.pkl

results/*
!results/cluster_jetson-train.png