__pycache__
utils/__pycache__
utils/yolov5/runs/*

data/*
!data/RoadVideo-test.mp4
!data/jetson-test.mp4

models/*
!models/yolov5v6.pt

results/*
!results/cluster_jetson-train.png
!results/cluster_RoadVideo-train.png


.vscode/